.addPostPic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.addPost{
    width: 95%;
    border-radius: 10px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-box-shadow: 5px 1px 5px 2px rgba(0,0,0,0.36); 
box-shadow: 5px 1px 5px 2px rgba(0,0,0,0.36);
}
.addPostContainer{
    padding: 15px;
}
.addPostTop{
    display: flex;
    align-items: center;
}
.addPostInput{
    border: none;
    width: 80%;
    margin-left: 10px;
}
.addPostInput:focus{
    outline: none;
}
.postHr{
    margin: 20px;
}
.addPostBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addPostOptions{
    display: flex;
    margin-left: 40px;
}
.addPostOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}
.PostButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(9, 9, 227);
    color: white;
}